Hostname: {{ ansible_hostname }}
Operating system: {{ ansible_lsb.description }}
By logging in to this system (by any means, maliciously or otherwise), you
agreed with the terms and conditions stated in /etc/issue.net on this system.
